# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.local
.env.*.local

# Build
.next/
out/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.pytest_cache/

# Docker
.docker/
docs/template/1/image-70.png
docs/template/3/the-image-of-a-natural-young-asian-female-model-washing-her-face-with-foam0.png
docs/template/4/blackpink-s-jenny-like-female-model-cleanses-her-face-with-a-fresh-clear-and-shiny-face0.png
